.hidden {
    display: block;
}

.angular-google-map-container {
    height: 95%;
    width: 80%;
}

.login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.client-box{
    border: groove;
    height: 70px;
    width: 93%;
    margin: 3%
}

.top-box {
    border: solid thin grey;
    height: 70px;
    width: 93%;
    margin: 3%;
    padding: 0 0 0 5%;
}

.bottom-box {
    margin: -3% 3% 3% 3%;
    padding: 5% 5% 0;
    width: 93%;
    border: solid thin lightgray;
}

.gear {
    float: right;
    height: 10%;
}

.triangle {
    float: right;
    height: 10%;
    margin-top: -3%;
}

.tob-box-name {
    padding: 8% 0;
    height: 80%;
    width: 50%;
    float: left;
}

.top-box-color {
    float: right;
    padding: 8% 5% 8% 0;
    height: 80%;
}